#border-registrar-produto{
    border-bottom: 5px solid black;
}

#titulo-pagina{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

#campo-formulario{
    height: 420px;
    margin-top: 0;
}

.campo-primeiro-form{
    display: flex;
    margin: 0 1rem;
    color: white;
    font-size: 1rem;

}

.primeiro-form{
    flex: 1;
    text-align: center;

}
.segundo-form{
    flex: 1;
    text-align: center;
}

#terceiro-form{
    flex: 1;
    text-align: center;
    
}

#primeiro-form{
    text-align: right;
}

#terceiro-form{
    text-align: left;
}

.text-forms{
    display: block;
    text-align: left;
    margin-left: 12.3rem;
}

#text-forms-primary{
    margin-left: 10.9rem;
}

#text-forms-secondy{
    margin-left: 5.5rem;
}

#text-forms-tree{
    margin-left: 0;
}

.text-forms-tree{
    display: block;
    text-align: left;
    margin-left: 5.5rem;
}

.input-text{
    height: 1.5rem;
    width: 15rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
}
.input-text-form-dois{
    width: 20rem;
    margin-left: 4.7rem;
}

#quantidade{
    margin-right: 10rem;
}

.text-segundo-forms{
    margin-top: 4rem;
}

#text-forms-dois{
    margin-left: 7.3rem;
}

#button-venda{
    width: 59rem;
    border: none;
    margin: 4rem 4rem 0 13.2rem;
    height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 1rem #00000085;
    cursor: pointer;
    font-weight: 600;
    outline: none;
}

#button-venda:hover{
    background-color: #00000085;
    transition-duration: .5s;
    color: white;
}


@media (max-width: 800px) and (max-height: 600px){

    #campo-formulario{
        height: 300px;
    }

    .input-text{
        width: 12rem;
        padding: .7rem;
    }

    .text-forms{
        margin-left: 4rem;
    }

    #text-forms-primary{
        margin-left: 2.5rem;
    }

    #text-forms-secondy{
        margin-left: 1.2rem;
    }
    
    .text-segundo-forms{
        margin-top: 2rem;
    }

    #text-forms-dois{
        margin-left: 2rem;
    }

    .input-text-form-dois{
        width: 15rem;
        margin-left: 1rem;
    }

    #quantidade{
        margin-right: 4.3rem;
    }
    
    #button-venda{
        width: 38rem;
        margin: 2rem 2rem 0 5rem;
        height: 3rem;
    }

}