<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P40 - colchões</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
     <div id="corpo">
       <header>
          <div id="cabecalho">
            <img id="logo" src="../images/logo-removebg-preview.png">
            <nav id="comeco-navegacao">
              <div id="menu-navegacao">
                <a href="./home.html" class="icone-link">
                  <ul class="campo-icones">
                    <li class="icone-text"><img class="icone" src="../images/icone-home.png"></li>
                    <li class="icone-text" id="border-home">Home</li>
                  </ul>
                </a>
                <a href="./vendas.html" class="icone-link">
                  <ul class="icones">
                    <li class="icone-text"><img class="icone" src="../images/icone-venda.png" alt=""></li>
                    <li class="icone-text">Vendas</li>
                  </ul>
                </a>
                <a href="./estoque.html" class="icone-link">
                  <ul class="icones">
                    <li class="icone-text"><img class="icone" src="../images/icone-estoque.png" alt=""></li>
                    <li class="icone-text">Estoque</li>
                  </ul>
                </a>
                <a href="./produtos.html" class="icone-link">
                  <ul class="icones">
                    <li class="icone-text"><img class="icone" src="../images/icone-produtos.png" alt=""></li>
                    <li class="icone-text">Produtos</li>
                  </ul>
                </a>
              </div>
            </nav>
          </div>
       </header>
       <div id="grupo-de-botoes">
        <div id="campo-dos-botoes">
            <a id="botao-registrar-venda" href="./vendas.html" class="botao">Vendas</a>
            <a href="./estoque.html" class="botao">Estoque</a>
        </div>
        <div id="campo-do-segundo-botao">
            <a href="./produtos.html" class="botao">Produtos</a>
          </div>
       </div>
      
      
       <footer id="rodape">
         
       </footer>
     </div>

  
    
</body>
</html>