<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P40 - colchões</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/vendas.css">
    <link rel="stylesheet" href="../styles/produtos.css">
</head>
<body>
    <div id="corpo">
        <header>
           <div id="cabecalho">
             <img id="logo" src="../images/logo-removebg-preview.png">
             <nav id="comeco-navegacao">
               <div id="menu-navegacao">
                 <a href="./home.html" class="icone-link">
                   <ul class="campo-icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-home.png"></li>
                     <li class="icone-text">Home</li>
                   </ul>
                 </a>
                 <a href="./vendas.html" class="icone-link">
                   <ul class="icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-venda.png" alt=""></li>
                     <li class="icone-text">Vendas</li>
                   </ul>
                 </a>
                 <a href="./estoque.html" class="icone-link">
                   <ul class="icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-estoque.png" alt=""></li>
                     <li class="icone-text">Estoque</li>
                   </ul>
                 </a>
                 <a href="./produtos.html" class="icone-link">
                   <ul class="icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-produtos.png" alt=""></li>
                     <li class="icone-text" id="border-produtos">Produtos</li>
                   </ul>
                 </a>
               </div>
             </nav>
           </div>
        </header>
        </div>
        <div id="titulo-pagina">
          <p>Produtos</p>
          </div>
          <div id="caixa-buttons">
            <div id="buttons">
                <a id="botao-ver-vendas" href="./ver-produtos.html" class="button">Ver produtos</a>
                <a href="./registrar-produto.html" class="button">Registrar produtos</a>
            </div>
          </div>

        <footer id="rodape">
         
        </footer>

       
</body>
</html>