<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P40 - colchões</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/ver-vendas.css">
</head>
<body>
    <div id="corpo">
        <header>
           <div id="cabecalho">
             <img id="logo" src="../images/logo-removebg-preview.png">
             <nav id="comeco-navegacao">
               <div id="menu-navegacao">
                 <a href="./home.html" class="icone-link">
                   <ul class="campo-icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-home.png"></li>
                     <li class="icone-text">Home</li>
                   </ul>
                 </a>
                 <a href="./vendas.html" class="icone-link">
                   <ul class="icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-venda.png" alt=""></li>
                     <li class="icone-text" id="border-venda">Vendas</li>
                   </ul>
                 </a>
                 <a href="./estoque.html" class="icone-link">
                   <ul class="icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-estoque.png" alt=""></li>
                     <li class="icone-text" id="border-estoque">Estoque</li>
                   </ul>
                 </a>
                 <a href="./produtos.html" class="icone-link">
                   <ul class="icones">
                     <li class="icone-text"><img class="icone" src="../images/icone-produtos.png" alt=""></li>
                     <li class="icone-text" id="border-ver-produtos">Produtos</li>
                   </ul>
                 </a>
               </div>
             </nav>
           </div>
        </header>
        </div>
        <div id="titulo-pagina">
          <p>Ver produtos</p>
        </div>
        <div id="corpo-table">
          <table id="tabela">
            <thead>
              <tr id="cabecalho-tabela">
                <th>Nome do produto</th>
                <th>Código</th>
                <th>Valor mínimo</th>
                <th>Valor máximo</th>
                <th>Valor de compra</th>
                <th>Quantidade</th>
                <th>Editar</th>
                <th>Excluir</th>

              </tr>
            </thead>
            <tbody id="assunto-table">
              <!---<tr >
                <td class="cabecalho">Iso superpocket 1,08 solteirão</td>
                <td class="cabecalho">XXX</td>
                <td class="cabecalho">R$ 800.00</td>
                <td class="cabecalho">R$ 950.00</td>
                <td class="cabecalho">$700.00</td>
                <td class="cabecalho">10</td>
                <td class="cabecalho"> <a href="./editar-produto.html"><button type="button">Editar</button></a></td>
                <td class="cabecalho"><button type="button">Excluir</button></td>
              </tr>-->
            </tbody>
          </table>
        </div>

        <footer id="rodape">
         
        </footer>

        <script src="../ver-produtos.js"></script>
</body>
</html>